<ion-header>
  
</ion-header>

<ion-content color="primary" padding >
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center style="color: #fff">
            <h1 style= "font-size: 70px " ><b>Finixer</b></h1>
            <h3>Accede</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Entrar</ion-button>
            <div text-center style="color: #fff ">
              <p>Si no tienes cuenta, </p><a text-center routerLinlk='/registrar'>
                registrate aqui!</a>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
