<ion-grid>
ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
    
    <ion-row>
    <div text-center>
  If you don't have an account, please <a routerLink='/register'>
    register</a> first!
    </div>
</ion-row>
</ion-grid> 
}